{% extends "common/base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_extras %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
入出金明細リスト
{% endblock title %}

{% block head %}
{# javascriptファイルを取り込む #}
{% endblock head %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'record:claim_list'%}" method="get">
        {{form.year}}{{form.month}}{{form.claim_type}}
        <button type="submit" class="button is-primary is-size-7 has-text-black has-text-weight-bold">表示</button>
      </form>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'register:mypage' %}" >戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
{% if messages %}
<div class="container" style="margin-top:1rem;">
  <div class="notification is-info">
    <button class="delete" type="button"></button>
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="container is-fluid">
  <div class="content">
    <div class="is-size-5">{{yyyymm}} {{title}}</div>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">No</th>
          <th class="has-text-centered">日付</th>
          <th class="has-text-centered">項目名</th>
          {% if perms.record.add_transaction %}
            <th class="has-text-centered">部屋番号</th>
            <th class="has-text-centered">氏名</th>
          {% endif %}
          <th class="has-text-centered">金額</th>
          <th class="has-text-centered">備考</th>
        </tr>
      </thead>
      <tbody>
        {% for record in claim_list %}
        <tr>
          <td class="has-text-centered">
            <a href="{% url 'record:claim_update' record.pk %}">{{forloop.counter}}</a>
          </td>
          <td class="has-text-left">{{record.claim_date|date:'m-d'}}</td>
          <td class="has-text-centered">{{record.claim_type}}</td>
          {% if perms.record.add_transaction %}
            <td class="has-text-left">{{record.room_no}}</td>
            <td class="has-text-left">{{record.name}}</td>
          {% endif %}  
          <td class="has-text-right">{{record.amount|intcomma}}</td>
          <td class="has-text-left">{{record.comment}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          {% if perms.record.add_transaction %}
            <td></td>
            <td></td>
          {% endif %}
          <td class="has-text-right">{{claim_total|intcomma}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}
