{% extends "common/base.html" %}

{% block title %}
費目データの編集
{% endblock title %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a href="{% url 'register:master_page' %}" class="navbar-item">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content">
    <div class="is-size-5">費目の登録/修正</div>
    <br>

    <form method='POST' enctype='multipart/form-data'>
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class='field'>
          <div class='control'>
          {% if field.field.widget.input_type == "checkbox" %}
            <!-- ✅ チェックボックス専用（Bulma構文） -->
            <label class="checkbox label">
              {{ field }} {{ field.label }}
            </label>
          {% else %}
            <!-- ✅ 通常のinputやtextなど -->
            <label class="label">{{ field.label }}</label>
            <div class="my_field">{{ field }}</div>
          {% endif %}
          {% if field.help_text %}
            <p class="help is-size-6">{{ field.help_text|safe }}</p>
          {% endif %}
          {{ field.errors }}
          </div>
        </div>
      {% endfor %}
      {% csrf_token %}
      <br>
      <div class='my_button'>
        <button type='submit' class='button is-primary is-size-7'>登録</button>
        <a class='button is-danger is-size-7' href='javascript:void(0);' onclick='window.history.back();'>キャンセル</a>
      </div>
    </form>
  </div>
  <br>
  <!--
  <div class="table-container">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">会計区分</th>
          <th class="has-text-centered">コード</th>
          <th class="has-text-centered">費目名</th>
          <th class="has-text-centered">有効</th>
          <th class="has-text-centered">入金費目</th>
          <th class="has-text-centered">支出承認</th>
          <th class="has-text-centered">集計フラグ</th>
          <th class="has-text-centered">デフォルト</th>
          <th class="has-text-centered">町内会フラグ</th>
        </tr>
      </thead>
      <tbody>
        {% for record in himoku_list %}
        <tr>
          <td class="has-text-left">{{record.accounting_class}}</td>
          <td class="has-text-right">{{record.code}}</td>
          <td class="has-text-left">
            <a href="{% url 'record:himoku_update' record.pk %}">{{record.himoku_name}}</a>
          </td>
          {% if record.alive %}
            <td class="has-text-centered">
          {% else %}
            <td class="has-text-centered has-text-danger">
          {% endif %}
          {{record.alive}}</td>

          {% if record.is_income %}
            <td class="has-text-centered">
          {% else %}
            <td class="has-text-centered has-text-danger">
          {% endif %}
          {{record.is_income}}</td>
          {% if record.is_approval %}
            <td class="has-text-centered">
          {% else %}
            <td class="has-text-centered has-text-danger">
          {% endif %}
          {{record.is_approval}}</td>

          {% if record.aggregate_flag %}
            <td class="has-text-centered">
          {% else %}
            <td class="has-text-centered has-text-danger">
          {% endif %}
          {{record.aggregate_flag}}</td>

          {% if record.is_default %}
            <td class="has-text-centered has-text-danger">
          {% else %}
            <td class="has-text-centered">
          {% endif %}
          {{record.is_default}}</td>

          {% if record.is_community %}
            <td class="has-text-centered">
          {% else %}
            <td class="has-text-centered has-text-danger">
          {% endif %}
          {{record.is_community}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
-->
</div>
{% endblock content %}
