{% extends "base.html" %}

{% block title %}
費目データリスト
{% endblock title %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'record:himoku_list'%}" method="get">
        {{form.accounting_class}}
        <button type="submit" class="button is-primary is-size-7 has-text-black has-text-weight-bold">表示</button>
      </form>
    </div>
    <div class="navbar-end">
      <a href="{% url 'register:master_page' %}" class="navbar-item">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content">
    <div class="is-size-5">費目リスト</div>
    <ul class="narrow_spacing">
      <li>「不明」費目は入金フラグをonとする。（月次報告の出金で不明な費目は存在しない）</li>
    </ul>
  </div>
  <br>
  <div class="table-container">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">会計区分</th>
          <th class="has-text-centered">コード</th>
          <th class="has-text-centered">費目名</th>
          <th class="has-text-centered">有効</th>
          <th class="has-text-centered">入金費目</th>
          <th class="has-text-centered">支出承認</th>
          <th class="has-text-centered">集計フラグ</th>
          <th class="has-text-centered">デフォルト</th>
          <th class="has-text-centered">町内会フラグ</th>
        </tr>
      </thead>
      <tbody>
        {% for record in himoku_list %}
        <tr>
          {% if record.alive %}
            <td class="has-text-left">{{record.accounting_class}}</td>
            <td class="has-text-right">{{record.code}}</td>
            <td class="has-text-left">
              <a href="{% url 'record:himoku_update' record.pk %}">{{record.himoku_name}}</a>
            </td>
          {% else %}
            <td class="has-text-left has-text-danger">{{record.accounting_class}}</td>
            <td class="has-text-right has-text-danger">{{record.code}}</td>
            <td class="has-text-left has-text-danger">
              <a href="{% url 'record:himoku_update' record.pk %}">{{record.himoku_name}}</a>
            </td>
          {% endif %}
          {% if record.alive %}
            <td class="has-text-centered">
          {% else %}
            <td class="has-text-centered has-text-danger">
          {% endif %}
          {{record.alive}}</td>

          {% if record.is_income %}
            <td class="has-text-centered">
          {% else %}
            <td class="has-text-centered has-text-danger">
          {% endif %}
          {{record.is_income}}</td>
          {% if record.is_approval %}
            <td class="has-text-centered">
          {% else %}
            <td class="has-text-centered has-text-danger">
          {% endif %}
          {{record.is_approval}}</td>

          {% if record.aggregate_flag %}
            <td class="has-text-centered">
          {% else %}
            <td class="has-text-centered has-text-danger">
          {% endif %}
          {{record.aggregate_flag}}</td>
          {% if record.is_default %}
            <td class="has-text-centered has-text-danger">
          {% else %}
            <td class="has-text-centered">
          {% endif %}
          {{record.is_default}}</td>

          {% if record.is_community %}
            <td class="has-text-centered">
          {% else %}
            <td class="has-text-centered has-text-danger">
          {% endif %}
          {{record.is_community}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock content %}
