{% extends "base.html" %}

{% block title %}
取引明細データの登録
{% endblock title %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a href="{% url 'register:master_page' %}" class="navbar-item">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
{% if messages %}
<div class="container" style="margin-top:1rem;">
  <div class="notification is-info">
    <button class="delete" type="button"></button>
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
  </div>
</div>
{% endif %}
<br>
<div class="container is-fluid">
  <div class="content">
    <div class="is-size-5">{{form_title}}</div>
  </div>
  <form method='POST' enctype='multipart/form-data'>
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class='field'>
        <div class='control'>
          {% if field.field.widget.input_type == "checkbox" %}
            <!-- ✅ チェックボックス専用（Bulma構文） -->
            <label class="checkbox label">
              {{ field }} {{ field.label }}
            </label>
          {% else %}
            <!-- ✅ 通常のinputやtextなど -->
            <label class="label">{{ field.label }}</label>
            <div class="my_field">{{ field }}</div>
          {% endif %}
          {% if field.help_text %}
            <p class="help is-size-6">{{ field.help_text|safe }}</p>
          {% endif %}
          {{ field.errors }}

          {% comment %}
          <div class='label'>{{ field.label_tag }}</div>
          <div class='my_field'>{{ field }}</div>
          {% if field.help_text %}
            <span class='helptext'>{{ field.help_text }}</span>
          {% endif %}
          {{ field.errors }}
           {% endcomment %}
        </div>
      </div>
    {% endfor %}
    {% csrf_token %}
    <br>
    <div class='my_button'>
      <button type='submit' class='button is-danger is-size-6'>読込み</button>
      <a class='button is-primary  is-size-6' href='javascript:void(0);' onclick='window.history.back();'>キャンセル</a>
    </div>
  </form>
</div>
{% endblock content %}
