{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="content has-text-centered is-size-6">
    <div class="is-size-5">下記データを削除しますか？</div>
  </div>
  <form action="" method="POST" enctype='multipart/form-data'>
    <div class="table-container">
      <table class="table table_center_nowrap is-narrow is-striped is-bordered">
        <tr>
          <td class="has-text-centered">日付</td>
          <td class="has-text-left">{{transaction.transaction_date}}</td>
        </tr>
        <tr>
          <td class="has-text-centered">費目名</td>
          <td class="has-text-left">{{transaction.himoku}}</td>
        </tr>
        <tr>
          <td class="has-text-centered">金額</td>
          <td class="has-text-left">{{transaction.amount|intcomma}}</td>
        </tr>
        <tr>
          <td class="has-text-centered">摘要</td>
          <td class="has-text-left">{{transaction.description}}</td>
        </tr>
      </table>
    </div>
      <br>
    <div class="content  has-text-centered is-size-6">
      <button type="submit" class="button is-danger is-size-6">削除する</button>
      <a href="{% url 'record:transaction_list' %}" class="button is-primary has-text-black">やめる</a>
    </div>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
