{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_templatetags %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
月次報告の収入
{% endblock title %}

{% block head %}
{# javascriptファイルを取り込む #}
{% endblock head %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'check_record:kurasel_mr_income_check'%}" method="get">
        {{form.year}}{{form.month}}
        <button type="submit" class="button is-primary is-size-7 has-text-black has-text-weight-bold">開始</button>
      </form>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
      <a class="button is-light is-size-7 has-text-weight-bold" href="{% url 'register:mypage' %}" >戻る</a>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="is-size-5">{{yyyymm}} 収入監査</div>
  <br>
  <div class="content">
    <div class="is-size-6 has-text-weight-bold">月次報告 収入データ</div>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">費目</th>
          <th class="has-text-centered">収入</th>
        </tr>
      </thead>
      <tbody>
        {% for record in mr_list %}
        <tr>
          <td class="has-text-ledt">{{record.himoku}}</td>
          {% if record.calc_flg %}
            <td class="has-text-right">{{record.amount|intcomma}}</td>
          {% else %}
            <td class="has-text-right has-text-danger">{{record.amount|intcomma}}</td>
          {% endif %}
        </tr>
        {% endfor %}
        {% if last_mishuu_bs %}
        <tr>
          <td class="has-text-right">請求時点の未収金</td>
          <td class="has-text-right">{{total_mishuu_claim|intcomma}}</td>
        </tr>
        {% endif %}
        <tr>
          <td class="has-text-right">合計</td>
          <td class="has-text-right">{{total_mr|add:total_mishuu_claim|intcomma}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="content">
    <div class="is-size-6 has-text-weight-bold">通帳 収入データ</div>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">費目</th>
          <th class="has-text-centered">収入</th>
        </tr>
      </thead>
      <tbody>
        {% for record in pb_list %}
        <tr>
          {% if record.calc_flg and not record.is_maeukekin %}
            <td class="has-text-ledt">{{record.himoku}}</td>
            <td class="has-text-right">{{record.amount|intcomma}}</td>
          {% else %}
            <td class="has-text-ledt has-text-danger">{{record.himoku}}</td>
            <td class="has-text-right has-text-danger">{{record.amount|intcomma}}</td>
          {% endif %}
        </tr>
        {% endfor %}
        <tr>
          <td class="has-text-left">口座振替手数料他</td>
          <td class="has-text-right">{{netting_total|intcomma}}</td>
        </tr>
        <tr>
          <td class="has-text-right">合計</td>
          <td class="has-text-right">{{total_pb|intcomma}}</td>
        </tr>
        {% if total_last_maeuke %}
        <tr>
          <td class="has-text-right">使用する前受金</td>
          <td class="has-text-right">{{total_last_maeuke|intcomma}}</td>
        </tr>
        {% endif %}
        <tr>
          <td class="has-text-right">合計</td>
          <td class="has-text-right">{{total_pb|add:total_last_maeuke|intcomma}}</td>
        </tr>
        <tr>
          <td class="has-text-right">月次報告との差額</td>
          <td class="has-text-right">{{total_diff|intcomma}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}
