{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_templatetags %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
クラセル支払い監査
{% endblock title %}

{% block head %}
{# javascriptファイルを取り込む #}
{% endblock head %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'check_record:kurasel_mr_expense_check'%}" method="get">
        {{form.year}}{{form.month}}
        <button type="submit" class="button is-primary is-size-7 has-text-black has-text-weight-bold">開始</button>
      </form>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-light is-size-7 has-text-weight-bold" href="{% url 'register:mypage' %}" >戻る</a>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content">
    <div class="is-size-5">{{yyyymm}} 支出監査</div>
  </div>
  <div class="content">
    <div class="is-size-5">月次支出報告</div>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">費目</th>
          <th class="has-text-centered">支出</th>
        </tr>
      </thead>
      <tbody>
        {% for record in mr_list %}
        <tr>
          {% if not record.himoku.aggregate_flag or not record.calc_flg %}
            <td class="has-text-ledt has-text-danger">{{record.himoku|truncatechars:12}}</td>
            <td class="has-text-right has-text-danger">{{record.amount|intcomma}}</td>
          {% else %}
            <td class="has-text-ledt">{{record.himoku|truncatechars:12}}</td>
            <td class="has-text-right">{{record.amount|intcomma}}</td>
          {% endif %}
        </tr>
        {% endfor %}
        <tr>
          <td class="has-text-right">合計</td>
          <td class="has-text-right">{{total_mr|intcomma}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="content">
    <div class="is-size-5">通帳支払い</div>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">費目</th>
          <th class="has-text-centered">支出</th>
        </tr>
      </thead>
      <tbody>
        {% for record in pb_list %}
        <tr>
          {% if record.himoku.is_community or not record.himoku.aggregate_flag %}
            <td class="has-text-ledt has-text-danger">{{record.himoku|truncatechars:12}}</td>
            <td class="has-text-right has-text-danger">{{record.amount|intcomma}}</td>
          {% elif record.is_miharai %}
            <td class="has-text-ledt has-text-danger">【未払い分】{{record.himoku|truncatechars:12}}</td>
            <td class="has-text-right has-text-danger">{{record.amount|intcomma}}</td>
          {% else %}
            <td class="has-text-ledt">{{record.himoku|truncatechars:12}}</td>
            <td class="has-text-right">{{record.amount|intcomma}}</td>
          {% endif %}
        </tr>
        {% endfor %}
        <tr>
          <td class="has-text-right">合計</td>
          <td class="has-text-right">{{total_pb|intcomma}}</td>
        </tr>
        <tr>
          <td class="has-text-right">前月未払金</td>
          <td class="has-text-right">{{total_last_miharai|intcomma}}</td>
        </tr>
        <tr>
          <td class="has-text-right has-text-weight-bold">当月差分</td>
          {% if total_diff < 0 %}
            <td class="has-text-right has-text-danger has-text-weight-bold" >{{total_diff|intcomma}}</td>
          {% else %}
            <td class="has-text-right has-text-weight-bold">{{total_diff|intcomma}}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}
