{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_templatetags %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
月次報告の支出
{% endblock title %}

{% block head %}
{# javascriptファイルを取り込む #}
{% endblock head %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'budget:budget_list'%}" method="get">
        {{form.year}}{{form.month}}{{form.ac_class}}{{form.kind}}
        <button type="submit" class="button is-primary is-size-7 has-text-black has-text-weight-bold">開始</button>
      </form>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-light is-size-7 has-text-weight-bold" href="{% url 'register:mypage' %}" >戻る</a>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container_mobile">
  <div class="content">
    <div class="is-size-6">{{month}}月までの{{title}} 予算実績対比表</div>
  </div>
  <div class="table-container is-size-6">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">費目</th>
          <th class="has-text-centered">予算</th>
          <th class="has-text-centered">支出累計</th>
          <th class="has-text-centered">残額</th>
          <th class="has-text-centered">支出割合(%)</th>
          <th class="has-text-centered">備考</th>
        </tr>
      </thead>
      <tbody>
        {% for record in expense_budget %}
        <tr>
          <td class="has-text-left">{{record.1}}</td>
          <td class="has-text-right">{{record.2|intcomma}}</td>
          <td class="has-text-right">{{record.3|intcomma}}</td>
          {% if record.4 < 0 %}
          <td class="has-text-right has-text-danger">{{record.4|intcomma}}</td>
          {% else %}
          <td class="has-text-right">{{record.4|intcomma}}</td>
          {% endif %}
          <td class="has-text-right">{{record.5|stringformat:'.1f'}}</td>
          <td class="has-text-left">{{record.6|default_if_none:''}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td class="has-text-right">{{total_budget|intcomma}}</td>
          <td class="has-text-right">{{total_ruiseki|intcomma}}</td>
          {% if total_ruiseki > total_budget %}
            <td class="has-text-right has-text-danger ">{{total_budget|subtract:total_ruiseki|intcomma}}</td>
          {% else %}
            <td class="has-text-right">{{total_budget|subtract:total_ruiseki|intcomma}}</td>
          {% endif %}
          <td class="has-text-right">{{total_ruiseki|multi:100|div:total_budget|stringformat:'.1f'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  {% if check_budget|length > 0 %}
  <div class="content">
    <div class="is-size-5">管理会計予算外支出の一覧</div>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">会計区分</th>
          <th class="has-text-centered">費目</th>
          <th class="has-text-centered">累積</th>
        </tr>
      </thead>
      <tbody>
        {% for record in check_budget %}
          {% if record.2 > 0 %}
          <tr>
            <td class="has-text-left">{{record.0}}</td>
            <td class="has-text-left">{{record.1}}</td>
            <td class="has-text-right">{{record.2|intcomma}}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  <br>
</div>
{% endblock %}
