{% extends "base.html" %}
{# http://cccabinet.jpn.org/bootstrap4/components/navbar #}
{% block title %}
会計監査
{% endblock %}

{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【{{user}}】</a>
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    {% if perms.record.view_transaction %}
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-size-6">通帳明細</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'record:transaction_original_list' %}">通帳取引明細(Original)</a>
            {% if perms.record.add_transaction %}
              <a class="navbar-item" href="{% url 'record:chk_maeuke' %}">前受金チェック</a>
            {% endif %}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-size-6">月次報告</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'monthly_report:incomelist' %}">月別収入</a>
            <a class="navbar-item" href="{% url 'monthly_report:expenselist' %}">月別支出</a>
            <a class="navbar-item" href="{% url 'monthly_report:bs_table' %}">貸借対照表(工事中)</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="{% url 'monthly_report:year_incomelist' %}"%>年間収入</a>
            <a class="navbar-item" href="{% url 'monthly_report:year_expenselist' %}">年間支出</a>
            {% if perms.record.add_transaction %}
              <hr class="navbar-divider">
              <a class="navbar-item" href="{% url 'monthly_report:chk_offset' %}">相殺処理チェック</a>
            {% endif %}
          </div>
        </div>

        {% comment %} {% if perms.record.add_transaction %} {% endcomment %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-size-6">クラセル監査</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url 'payment:payment_list' %}">支払い承認の一覧</a>
              <a class="navbar-item" href="{% url 'record:transaction_list' %}">入出金明細の一覧</a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="{% url 'check_record:kurasel_ap_expense_check' %}">支払い承認チェック</a>
              <a class="navbar-item" href="{% url 'check_record:kurasel_mr_expense_check' %}">月次支出チェック</a>
              <a class="navbar-item" href="{% url 'check_record:kurasel_mr_income_check' %}">月次収入チェック</a>
            </div>
          </div>
        {% comment %} {% endif %} {% endcomment %}

        <a class="navbar-item" href="{% url 'budget:budget_list' %}">予算実績一覧</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="{% url 'explanation:description' %}">ヘルプ</a>
        {% if perms.record.add_transaction %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-size-6">管理者用</a>
            <div class="navbar-dropdown">
              <a class="dropdown-item" href="{% url 'register:master_page' %}">データ管理</a>
              <hr class="navbar-divider">
              <a class="dropdown-item" href="{% url 'explanation:description_create' %}">ヘルプ新規作成</a>
              {% if perms.register.add_user %}
                <hr class="navbar-divider">
                <a class="dropdown-item" href="{% url 'register:user_list' %}">登録者一覧</a>
                <a class="dropdown-item" href="{% url 'control:control_list' %}">コントロールデータ修正</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="navbar-item">
          <a class="button is-light is-small " href="{% url 'register:logout' %}" >ログアウト</a>
        </div>
      </div>
    {% else %}
    <!--ログインユーザ以外に表示する 必要ないか？-->
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'budget:budget_list' %}">予算実績一覧</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-light is-small " href="{% url 'register:logout' %}" >ログアウト</a>
        </div>
      </div>
    {% endif %}

  </div>
</nav>
{% endblock navbar %}
{% block content %}
<div class="content has-text-centered">
  <br>
  {% comment %} <h2>Kurasel対応 開発版</h2> {% endcomment %}
  {% load static%}
  <img src="{% static 'ramune.png' %}" style="max-height:500px" class="img-fluid" />
</div>
{% endblock %}
