{% extends "base.html" %}
{# http://cccabinet.jpn.org/bootstrap4/components/navbar #}
{% block title %}
会計監査
{% endblock %}

{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {% if DEBUG %}
      <div class="navbar-item">【{{user}}】</div>
    {% else %}
      <div class="navbar-item">【SG川崎】</div>
    {% endif %}
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-size-6">月次報告</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'monthly_report:incomelist' %}">月別収入</a>
          <a class="navbar-item" href="{% url 'monthly_report:expenselist' %}">月別支出</a>
          <a class="navbar-item" href="{% url 'monthly_report:bs_table' %}">貸借対照表</a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="{% url 'monthly_report:year_income_expenselist' %}">年間収支</a>
          <a class="navbar-item" href="{% url 'monthly_report:year_incomelist' %}"%>年間収入</a>
          <a class="navbar-item" href="{% url 'monthly_report:year_expenselist' %}">年間支出</a>
          <hr class="navbar-divider">
        </div>
      </div>
      <a class="navbar-item" href="{% url 'budget:budget_list' %}">予算実績対比表</a>
      {% if perms.record.view_transaction %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-size-6">通帳明細</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'record:transaction_original_list' %}">入出金明細(Raw data)</a>
          </div>
        </div>
        {% if perms.record.add_transaction %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-size-6">請求データ</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url 'billing:billing_list' %}">請求合計金額内訳</a>
              <a class="navbar-item" href="{% url 'record:claim_list' %}">管理費等請求一覧</a>
            </div>
          </div>
        {% endif %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-size-6">クラセル監査</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'payment:payment_list' %}">支払い承認の一覧</a>
            <a class="navbar-item" href="{% url 'record:transaction_list' %}">入出金明細の一覧</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="{% url 'check_record:kurasel_ap_expense_check' %}">支払い承認チェック</a>
            <a class="navbar-item" href="{% url 'check_record:kurasel_mr_expense_check' %}">月次支出チェック</a>
            <a class="navbar-item" href="{% url 'check_record:kurasel_mr_income_check' %}">月次収入チェック</a>
            <a class="navbar-item" href="{% url 'check_record:kurasel_billing_check' %}">請求金額チェック</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="{% url 'check_record:year_income_check' %}">決算収入チェック</a>
            <a class="navbar-item" href="{% url 'check_record:year_expense_check' %}">決算支出チェック</a>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'explanation:description' %}">ヘルプ</a>
      {% if perms.record.add_transaction %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-size-6">管理者用</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'register:master_page' %}">データ管理</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="{% url 'monthly_report:chk_offset' %}">相殺処理一覧</a>
            <a class="navbar-item" href="{% url 'record:chk_maeuke' %}">前受金一覧</a>
            <a class="navbar-item" href="{% url 'monthly_report:unpaid_list' %}">未払い一覧</a>
            <a class="navbar-item" href="{% url 'monthly_report:calcflg_check' %}">計算対象外一覧</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="{% url 'monthly_report:simulation_data_list' %}">修繕計画用データ</a>
            {% if perms.register.add_user %}
              <hr class="navbar-divider">
              <a class="navbar-item" href="{% url 'register:user_list' %}">登録者一覧</a>
              <a class="navbar-item" href="{% url 'control:control_list' %}">コントロールデータ修正</a>
              <a class="navbar-item" href="{% url 'explanation:description_create' %}">ヘルプ作成・修正</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="navbar-item">
        <form method="post" action="{% url 'register:logout' %}">
          {% csrf_token %}
          <button type="submit">ログアウト</button>
        </form>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}
{% block content %}
<div class="content has-text-centered">
  <br>
  {% if debug %}
    <h2 class="subtitle"> クラセル監査 開発版</h2>
  {% else %}
    <h2 class="subtitle"> クラセル監査 運用版</h2>
  {% endif %}
  {% load static%}
  <img src="{% static 'ramune.png' %}" style="max-height:500px" class="img-fluid" />
</div>
{% endblock %}
