# 通帳監査システム
services:
  passbook:
    # 相対パスでDockerfileのpathを指定。contextは一つ上の階層にする。
    build:
      context: ..
      dockerfile: docker/Dockerfile
    # image名:タグ
    image: passbook
    # 起動ユーザを指定する
    user: "${UID}:${GID}"
    # container名
    container_name: passbook
    restart: unless-stopped

    # ディレクトリ全体をマウントしない方が良いようだ。
    # DockerfileのCOPYコマンドで（.djangoignoreで除外した以外の）ファイルを/code/にコピー済み。
    # ホスト上のcollectstaticで作成されたstaticディレクトリを/code/staticとしてマウントする。
    # （settings.pyで STATIC_ROOT = "/code/static"としている）
    # （/codeはDockerfileでWORKDIRとしている）
    # ホスト上のpb_audit.sqlite3を/code/pb_audit.sqlite3としてマウントする。
    volumes:
      - ../static:/code/static
      - ../pb_audit.sqlite3:/code/pb_audit.sqlite3

    # 環境変数TZを設定。
    environment:
      TZ: "Asia/Tokyo"
    # 本番環境 コンテナネットワークだけにポートを公開する場合はexposeするだけ。
    expose:
      - "8700"
    # 共有ネットワークに繋げる。(ネットワークを調べるのは、docker network ls)
    networks:
      - sophiag-network
 
    command: /usr/local/bin/gunicorn passbook.wsgi:application --workers 1 --threads 4 --bind :8700

networks:
  sophiag-network:
    external: true
