{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_templatetags %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
取引明細支出リスト
{% endblock title %}

{% block head %}
{# javascriptファイルを取り込む #}
{% endblock head %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'record:expense_list'%}" method="get">
        {{form.year}}
        <button type="submit" class="button is-primary is-size-7 has-text-black has-text-weight-bold">表示</button>
      </form>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-light is-size-7 has-text-weight-bold" href="{% url 'register:mypage' %}" >戻る</a>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content has-text-centered">
    <div class="is-size-5">{{yyyymm}} 通帳支出リスト</div>
  </div>
  <div class="table-container">
    <table class="table table_center_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered"></th>
          <th class="has-text-centered">定額管理支出</th>
          <th class="has-text-centered">設備管理業務費</th>
          <th class="has-text-centered">共用部直接費</th>
          <th class="has-text-centered">町内会費</th>
          <th class="has-text-centered">保険工事支出</th>
          <th class="has-text-centered">不明</th>
          <th class="has-text-centered">管理会計合計</th>
          <th class="has-text-centered">修繕会計合計</th>
        </tr>
      </thead>
      <tbody>
        {% for rcd in expense_list %}
        <tr>
          <td class="has-text-right">{{rcd.month|date:'y-M'}}</td>
          <td class="has-text-right">{{rcd.teigaku|intcomma}}</td>
          <td class="has-text-right">{{rcd.setubi|intcomma}}</td>
          <td class="has-text-right">{{rcd.kyouyou|intcomma}}</td>
          <td class="has-text-right">{{rcd.chounaikai|intcomma}}</td>
          <td class="has-text-right">{{rcd.hoken|intcomma}}</td>
          <td class="has-text-right">{{rcd.fumei|intcomma}}</td>
          <td class="has-text-right">{{rcd.teigaku|add:rcd.setubi|add:rcd.kyouyou|add:rcd.chounaikai|add:rcd.hoken|add:rcd.fumei|intcomma}}</td>
          <td class="has-text-right">{{rcd.shuuzen|intcomma}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td class="has-text-right has-text-weight-semibold">{{total_teigaku|intcomma}}</td>
          <td class="has-text-right has-text-weight-semibold">{{total_setubi|intcomma}}</td>
          <td class="has-text-right has-text-weight-semibold">{{total_kyouyou|intcomma}}</td>
          <td class="has-text-right has-text-weight-semibold">{{total_chounaikai|intcomma}}</td>
          <td class="has-text-righ has-text-weight-semibold">{{total_hoken|intcomma}}</td>
          <td class="has-text-righ has-text-weight-semibold">{{total_fumei|intcomma}}</td>
          <td class="has-text-righ has-text-weight-semibold">{{total_kanri|intcomma}}</td>
          <td class="has-text-righ has-text-weight-semibold">{{total_shuuzen|intcomma}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}
