{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_templatetags %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
月次報告の収入
{% endblock title %}

{% block head %}
{# javascriptファイルを取り込む #}
{% endblock head %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'check_record:kurasel_billing_check'%}" method="get">
        {{form.year}}{{form.month}}
        <button type="submit" class="button is-primary is-size-7 has-text-black has-text-weight-bold">開始</button>
      </form>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-light is-size-7 has-text-weight-bold" href="{% url 'register:mypage' %}" >戻る</a>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="is-size-5">{{yyyymm}} 請求金額内訳データチェック</div>
  <div class="content">
    <ul>
      {% if warning_kurasel %}
        <li class="has-text-danger has-text-weight-bold is-size-5" >{{warning_kurasel}}</li>
      {% else %}
        <li class="has-text-danger" >月次収入データの赤数字は資金移動のため合計金額から除外。</li>
        <li class="has-text-danger" >収入については町内会費も一括して含めていることに注意。</li>
      {% endif %}
    </ul>
  </div>

  <div class='columns'>
    <div class='column is-half'>
      <div class="content has-text-centered">
        <div class="is-size-5">請求金額内訳データ</div>
      </div>
      <div class="table-container">
        <table class="table table_center_nowrap is-narrow is-striped">
          <thead>
            <tr>
              <th class="has-text-centered">日付</th>
              <th class="has-text-centered">請求合計内訳名</th>
              <th class="has-text-centered">金額</th>
              <th class="has-text-centered">備考</th>
            </tr>
          </thead>
          <tbody>
            {% for record in billing_list %}
            <tr>
              <td class="has-text-left">{{record.transaction_date|date:"m-d"}}</td>
              <td class="has-text-left">{{record.billing_item}}</td>
              {% if record.billing_item.is_billing %}
                <td class="has-text-right">{{record.billing_ammount|intcomma}}</td>
              {% else %}
                <td class="has-text-right has-text-danger">{{record.billing_ammount|intcomma}}</td>
              {% endif %}
              <td class="has-text-left is-size-7">{{record.comment|truncatechars:30}}</td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <td class="has-text-right">{{billing_total|intcomma}}</td>
              <td></td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='column is-half'>
      <div class="content has-text-centered">
        <div class="is-size-5">通帳 収入データ</div>
      </div>
      <div class="table-container">
        <table class="table table_center_nowrap is-narrow is-striped">
          <thead>
            <tr>
              <th class="has-text-centered">日付</th>
              <th class="has-text-centered">費目</th>
              <th class="has-text-centered">収入</th>
              <th class="has-text-centered">摘要</th>
            </tr>
          </thead>
          <tbody>
            {% for record in pb_list %}
            <tr>
              {% if record.calc_flg and record.is_billing %}
                <td class="has-text-left">{{record.transaction_date|date:'m-d'}}</td>
                <td class="has-text-ledt">{{record.himoku}}</td>
                <td class="has-text-right">{{record.ammount|intcomma}}</td>
                <td class="has-text-ledt is-size-7">{{record.description|markdown_to_html}}</td>
              {% else %}
                <td class="has-text-left has-text-danger">{{record.transaction_date|date:'m-d'}}</td>
                <td class="has-text-ledt has-text-danger">{{record.himoku}}</td>
                <td class="has-text-right has-text-danger">{{record.ammount|intcomma}}</td>
                <td class="has-text-ledt is-size-7 has-text-danger">(計算除外) {{record.description|markdown_to_html}}</td>
              {% endif %}
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td class="has-text-left">口座振替手数料他</td>
              <td class="has-text-right">{{netting_total|intcomma}}</td>
              <td class="has-text-ledt is-size-7 has-text-danger">相殺処理分を考慮する</td>
            </tr>
            {% if pb_last_maeuke > 0 %}
            <tr>
              <td></td>
              <td class="has-text-right">前月の前受金</td>
              <td class="has-text-right has-text-danger">{{pb_last_maeuke|intcomma}}</td>
              <td class="is-size-7 has-text-danger">使用する前受金</td>
            </tr>
            {% endif %}
            <tr>
              <td></td>
              <td class="has-text-right">合計</td>
              <td class="has-text-right">{{total_pb|intcomma}}</td>
              <td class="has-text-ledt is-size-7">相殺処理分を考慮</td>
            </tr>
            <tr>
              <td></td>
              <td class="has-text-right">請求金額との差額</td>
              <td class="has-text-right">{{total_diff|intcomma}}</td>
              <td class="has-text-ledt is-size-7">通帳収入-月次収入</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
    </div>
  </div>
  <br>
</div>
{% endblock %}
