{% extends "common/base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_extras %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
年次収入監査
{% endblock title %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【年次収入監査】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'check_record:year_income_check' %}" method="get">
        {{form.year}}
        <button type="submit" class="button is-primary is-size-7 has-text-black has-text-weight-bold">開始</button>
      </form>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'check_record:year_expense_check'%}?year={{ year }}">決算支出チェック</a>
      <a class="navbar-item" href="{% url 'register:mypage' %}" >戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content">
    <div class="is-size-5">{{year}}年 管理費等 年間収入監査（町内会費含む）</div>
    <ul class="narrow_spacing">
      <li class="has-text-danger" >通帳 年間収入データの資金移動（共用保険の解約戻り金等）は含まない。</li>
      <li class="has-text-danger" >通帳 年間収入データの「管理費」は振替入金と振込入金の合計額。</li>
    </ul>
  </div>
  <br>
  <div class='columns'>
    <div class='column is-half'>
      <div class="content">
        <div class="is-size-5">月次報告 年間収入データ</div>
      </div>
      <div class="table-container">
        <table class="table table_nowrap is-narrow is-striped">
          <thead>
            <tr>
              <th class="has-text-centered">費目</th>
              <th class="has-text-centered">収入</th>
            </tr>
          </thead>
          <tbody>
            {% for record in year_list %}
            <tr>
              <td class="has-text-ledt">{{record.himoku__himoku_name}}</td>
              <td class="has-text-right">{{record.price|intcomma}}</td>
            </tr>
            {% endfor %}
            <tr>
              <td class="has-text-right">合計</td>
              <td class="has-text-right">{{total_mr|intcomma}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
    </div>
    <div class='column is-half'>
      <div class="content">
        <div class="is-size-5">入出金明細 年間収入データ</div>
      </div>
      <div class="table-container">
        <table class="table table_nowrap is-narrow is-striped">
          <thead>
            <tr>
              <th class="has-text-centered">費目</th>
              <th class="has-text-centered">収入</th>
            </tr>
          </thead>
          <tbody>
            {% for record in pb_list %}
            <tr>
                <td class="has-text-ledt">{{record.himoku__himoku_name}}</td>
                <td class="has-text-right">{{record.price|intcomma}}</td>
            </tr>
            {% endfor %}
            <tr>
              <td class="has-text-left">口座振替手数料他</td>
              <td class="has-text-right">{{netting_total|intcomma}}</td>
              <td class="has-text-ledt is-size-7 has-text-danger">相殺処理分を考慮する</td>
            </tr>
            <tr>
              <td class="has-text-right">前期の未収金</td>
              <td class="has-text-right has-text-danger">{{pb_last_mishuukin|intcomma}}</td>
              <td></td>
            </tr>
            <tr>
              <td class="has-text-right">合計</td>
              <td class="has-text-right">{{total_pb|intcomma}}</td>
              <td class="has-text-ledt is-size-7">相殺処理金額・前期未収金額を考慮</td>
            </tr>
            <tr>
              <td class="has-text-right">月次報告との差額</td>
              <td class="has-text-right">{{total_diff|intcomma}}</td>
              <td class="has-text-ledt is-size-7">通帳収入-月次収入</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div class="content">
        <div class="is-size-5">{{year}}年の未収金（入力された最終月）</div>
      </div>
      <div class="table-container">
        <table class="table table_nowrap is-narrow is-striped">
          <thead>
            <tr>
              <th class="has-text-centered">年月</th>
              <th class="has-text-centered">項目名</th>
              <th class="has-text-centered">金額</th>
              <th class="has-text-centered">備考</th>
            </tr>
          </thead>
          <tbody>
            {% for record in mishuu_list %}
            <tr>
              <td class="has-text-ledt">
                <a href="{% url 'monthly_report:update_bs' record.pk %}">{{record.monthly_date|date:'m-d'}}</a>
              </td>
              <td class="has-text-ledt">{{record.item_name.ac_class}}</td>
              <td class="has-text-right">{{record.amounts|intcomma}}</td>
              <td class="has-text-ledt is-size-7">{{record.comment|default_if_none:''}}</td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td class="has-text-right">合計</td>
              <td class="has-text-right">{{total_mishuu_bs|intcomma}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
    </div>
  </div>
  <br>
</div>
{% endblock %}
