{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_templatetags %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
年次決算の支出チェック
{% endblock title %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'check_record:year_expense_check' %}" method="get">
        {{form.year}}
        <button type="submit" class="button is-primary is-size-7 has-text-black has-text-weight-bold">開始</button>
      </form>
    </div>
    <div class="navbar-end">
      {% with year_with=year %}
        <a class="navbar-item" href="{% url 'check_record:year_income_check' year_with %}">決算収入チェック</a>
      {% endwith %}
      <div class="navbar-item">
        <a class="button is-light is-size-7 has-text-weight-bold" href="{% url 'register:mypage' %}" >戻る</a>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content">
    <div class="is-size-5">{{year}}年 管理費等 年間支出監査（町内会費含む）</div>
    <ul class="narrow_spacing">
      <li>月次報告の「マンション共用保険」の計上は前払金の償却であり、実支出は発生しない。</li>
      <li>月次報告の「口座振替手数料」は天引きされているため、実支出としては発生しない。</li>
    </ul>
  </div>
  <br>
  <div class='columns'>
    <div class='column is-half'>
      <div class="content">
        <div class="is-size-5">月次報告 年間支出データ</div>
      </div>
      <div class="table-container">
        <table class="table table_nowrap is-narrow is-striped">
          <thead>
            <tr>
              <th class="has-text-centered">費目</th>
              <th class="has-text-centered">支出</th>
            </tr>
          </thead>
          <tbody>
            {% for record in year_list %}
            <tr>
              {% if record.himoku__aggregate_flag and record.calc_flg %}
                <td class="has-text-ledt">{{record.himoku__himoku_name}}</td>
                <td class="has-text-right">{{record.price|intcomma}}</td>
              {% else %}
                <td class="has-text-ledt has-text-danger">{{record.himoku__himoku_name}}</td>
                <td class="has-text-right has-text-danger">{{record.price|intcomma}}</td>
              {% endif %}
            </tr>
            {% endfor %}
            <tr>
              <td class="has-text-right">合計</td>
              <td class="has-text-right">{{total_mr|intcomma}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
    </div>
    <div class='column is-half'>
      <div class="content">
        <div class="is-size-5">通帳 年間支出データ</div>
      </div>
      <div class="table-container">
        <table class="table table_nowrap is-narrow is-striped">
          <thead>
            <tr>
              <th class="has-text-centered">費目</th>
              <th class="has-text-centered">支出</th>
            </tr>
          </thead>
          <tbody>
            {% for record in pb_list %}
            <tr>
                <td class="has-text-ledt">{{record.himoku__himoku_name}}</td>
                <td class="has-text-right">{{record.price|intcomma}}</td>
            </tr>
            {% endfor %}
            <tr>
              <td class="has-text-right">当期支出合計</td>
              <td class="has-text-right">{{total_pb|intcomma}}</td>
            </tr>
            <tr>
              <td class="has-text-right">当期の不整合金額</td>
              <td class="has-text-right">{{miharai|intcomma}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      {# 貸借対照表の未払い #}
      <div class="content">
        <div class="is-size-5">貸借対照表による当月の未払金</div>
      </div>
      <div class="table-container">
        <table class="table table_nowrap is-narrow is-striped">
          <thead>
            <tr>
              <th class="has-text-centered">年月</th>
              <th class="has-text-centered">項目名</th>
              <th class="has-text-centered">金額</th>
              <th class="has-text-centered">備考</th>
            </tr>
          </thead>
          <tbody>
            {% for record in this_miharai %}
            <tr>
              <td class="has-text-ledt">
                <a href="{% url 'monthly_report:update_bs' record.pk %}">{{record.monthly_date|date:'m-d'}}</a>
              </td>
              <td class="has-text-ledt">{{record.item_name}}</td>
              <td class="has-text-right">{{record.amounts|intcomma}}</td>
              <td class="has-text-ledt is-size-7">{{record.comment|default_if_none:''|markdown_to_html}}</td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td class="has-text-right">合計</td>
              <td class="has-text-right">{{total_this_miharai|intcomma}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
</div>
{% endblock %}
