{% extends "common/base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_extras %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
請求合計金額内訳リスト
{% endblock title %}

{% block head %}
{# javascriptファイルを取り込む #}
{% endblock head %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <form action="" method="get">
          <div class="field has-addons">
            <!-- input要素はDjangoのwidgetで指定するようだ -->
            <div class="control">{{form.year}}</div>
            <!-- bulmaのselect要素はnavbar内では少し特殊なようだ。サイズはHTMLで指定する -->
            <div class="control"> <div class="select is-small"> {{form.month}} </div></div>
            <div class="control">
              <button type="submit" class="button is-primary is-small">表示</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item has-text-weight-bold" href="{% url 'register:mypage' %}" >戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
{% if messages %}
<div class="container" style="margin-top:1rem;">
  <div class="notification is-info">
    <button class="delete" type="button"></button>
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="container is-fluid">
  <div class="content">
    <div class="is-size-5">{{yyyymm}} 請求合計金額内訳リスト</div>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">日付</th>
          <th class="has-text-centered">請求合計内訳名</th>
          <th class="has-text-centered">金額</th>
          <th class="has-text-centered">備考</th>
        </tr>
      </thead>
      <tbody>
        {% for record in billing_list %}
        <tr>
          <td class="has-text-left">{{record.transaction_date|date:"m-d"}}</td>
          <td class="has-text-left">{{record.billing_item}}</td>
          {% if record.billing_item.is_billing %}
            <td class="has-text-right">{{record.billing_amount|intcomma}}</td>
          {% else %}
            <td class="has-text-right has-text-danger">{{record.billing_amount|intcomma}}</td>
          {% endif %}
          <td class="has-text-left is-size-7">{{record.comment|truncatechars:30}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td class="has-text-right">{{total_billing|intcomma}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}
