{% extends "common/base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_extras %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
支払い承認リスト
{% endblock title %}

{% block head %}
{# javascriptファイルを取り込む #}
{% endblock head %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item is-expanded">
        <form action="" method="get">
          <div class="field has-addons ">
            <div class="control"> {{form.year}} </div>
            <!-- bulmaのselect要素はnavbar内では少し特殊なようだ -->
            <div class="control"> <div class="select is-small"> {{form.month}} </div></div>
            <div class="control"> <div class="select is-small"> {{form.day}} </div></div>
            <div class="control"> <div class="select is-small"> {{form.list_order}} </div></div>
            <div class="control">
              <button type="submit" class="button is-primary is-small">表示</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'record:transaction_list' %}?year={{year}}&month={{month}}&day=0&list_order=0 ">入出金明細の一覧</a>
      <a class="navbar-item" href="{% url 'register:mypage' %}" >戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
{% if messages %}
<div class="container" style="margin-top:1rem;">
  <div class="notification is-info">
    <button class="delete" type="button"></button>
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="container is-fluid">
  <div class="content">
    <div class="is-size-5">{{year}}年{{month}}月 支払い承認リスト</div>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">日付</th>
          <th class="has-text-centered">費目</th>
          <th class="has-text-centered">金額</th>
          <th class="has-text-centered">支払先</th>
          <th class="has-text-centered">摘要</th>
        </tr>
      </thead>
      <tbody>
        {% for apl in approval_list %}
        <tr>
          <td class="has-text-left">{{apl.payment_date|date:'Y-m-d'}}</td>
          {% if perms.record.add_transaction %}
            <td class="has-text-left"><a href="{% url 'payment:update_payment' apl.pk %}">{{apl.himoku}}</a></td>
          {% else%}
            <td class="has-text-left">{{apl.himoku}}</td>
          {% endif %}
          <td class="has-text-right">{{apl.payment|intcomma}}</td>
          <td class="has-text-left is-size-7">{{apl.payment_destination}}</td>
          <td class="has-text-left is-size-7">{{apl.summary|markdown_to_html}}</td>
        </tr>
        {% endfor %}
        <td></td>
        <td></td>
        <td>{{total|intcomma}}</td>
        <td></td>
        <td></td>
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}
